:root {
  font-size: 62.5%;
  --black: #000;
  --light-grey-blue: rgba(184, 184, 185, 0.1);
  --aqua: #14d9c4;
  --black-8: rgba(0, 0, 0, 0.08);
  --gunmetal: #54585a;
  --white: #fff;
  --blue-green: #099d8d;
  --cool-grey: #b8b8b9;
}

.headerh1 {
  font-family: "rubik", sans-serif;
  text-align: center;
  height: 60px;
  padding: 15px 80px;
  opacity: 0.95;
  background-color: var(--blue-green);
  color: var(--white);
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 421px;
  background-image: url(../images/95.webp);
  background-size: contain;
  opacity: 0.8;
}

.header-nav {
  text-transform: uppercase;
  height: 45px;
  padding: 8px 17px 7px 16px;
  background-color: var(--aqua);
  opacity: 0.9;
}

.list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.list li {
  height: 30px;
  margin: 0 15px 0 0;

  font-family: rubik;
  font-size: 150%;
  letter-spacing: normal;
}

.links {
  text-decoration: none;
  color: var(--white);
}

.text-box {
  background-color: var(--white);
  height: 80px;
  width: 290px;
  font-family: "open sans";
  font-size: 180%;
  font-weight: bold;
  padding: 14px 15px 16px;
}

.quienes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quienes h1 {
  margin: 3rem 0 1.5rem;
  text-transform: uppercase;
  font-family: Rubik;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--blue-green);
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.article h2 {
  font-size: 2rem;
  margin: 1rem;
}
.article p {
  margin: 0 0 1rem;
  text-align: center;
  font-size: 1.6rem;
  color: var(--gunmetal);
}

.pic img {
  width: 18rem;
  height: 18rem;
  border-radius: 0.4rem;
  border: 0.5rem solid var(--black-8);
}

.articleFooter {
  display: flex;
}

.rrss {
  display: flex;
  padding: 0;
  margin: 0;
}
.rrss li {
  margin: 0 1rem;
  padding: 0.5rem;
}
.rrss :first-child {
  list-style: none;
}

.team-box {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.team {
  margin: 3rem 0 1.5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--aqua);
  text-transform: uppercase;
  width: 100%;
  display: flex;
  justify-content: center;
}

.team-text {
  margin: 0 0 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--gunmetal);
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  text-align: center;
}

.team-text-1 {
  margin: 0 0 1.42rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--gunmetal);
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  text-align: center;
}

.cuadrado {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  transform: rotate(45deg);
  z-index: 1;
  position: relative;
  bottom: -15px;
}

.strength_box {
  background-color: rgba(184, 184, 185, 0.2);
  z-index: -1;
  padding: 15px;
  line-height: 25px;
}

.h2 {
  font-family: rubik;
  font-size: 2rem;
  color: var(--blue-green);
  letter-spacing: 0.2px;
  text-align: center;
  margin-bottom: 5px;
}

.footer {
  font-size: 1.4rem;
}

.container {
  text-align: center;
  background-color: darkgreen;
}

.container2 {
  background-color: bisque;
  position: relative;

  margin: 20px 29px 30px;
  text-align: center;
}

footer-copy {
  color: var(--cool-grey);
}

.lista {
  list-style: none;
  text-transform: uppercase;
}

.logo {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
}
