<footer class="footer">
    <p class="footer_copy">Volando vamos &copy;2023</p>
    
    <nav>
      <ul class="footer_ul">
        <li><a class="footer_ul-list " href="./index.html#team">Equipo</a></li>
        <li><a class="footer_ul-list" href="./index.html#who">Quiénes somos</a></li>
        <li><a class="footer_ul-list" href="./index.html#contact">Contacto</a></li>
      </ul>
    </nav>
    <img class="footer_logo" src="./assets/images/logo.png" alt="logo adalab" />
</footer>


  
  