<footer class="footer">
    <div class="container">
      <p class="footer_copy">Volando vamos &copy;2023</p>
      <nav class="box_footer">
        <ul class="ul">
          <li><a class="list_footer" href="./index.html#team">Equipo</a></li>
          <li><a class="list_footer" href="./index.html#who">Quiénes somos</a></li>
          <li><a class="list_footer" href="./index.html#contact">Contacto</a></li>
        </ul>
      </nav>
      <img class="logo_footer" src="./assets/images/logo.png" alt="logo adalab" />
    </div>
  </footer>