<header class="header">
  <div class="header__main">
    <div class="header__main--h1">
      <h1>VOLANDO VAMOS</h1>
      <nav class="header__nav--tablet">
        <ul class="header__nav--list">
          <li><a class="links" href="./index.html#team">Equipo</a></li>
          <li><a class="links" href="./index.html#who">Quiénes somos</a></li>
          <li><a class="links" href="./index.html#contact">Contacto</a></li>
        </ul>
      </nav>
    </div>
    <nav class="header__nav">
      <ul class="header__nav--list">
        <li><a class="links" href="./index.html#team">Equipo</a></li>
        <li><a class="links" href="./index.html#who">Quiénes somos</a></li>
        <li><a class="links" href="./index.html#contact">Contacto</a></li>
      </ul>
    </nav>
  </div>


</header>
