<div class="square"></div>
<aside class="stren_box">
  <include
    src="./stren.html"
    title="Fortalezas"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente sit
  voluptatibus autem. Eum, hic laudantium beatae illum, delectus sint iste
  tenetur repellendus enim accusantium rem repudiandae nobis facere commodi."
  ></include>

  <include
    src="./stren.html"
    title="Debilidades"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam sapiente sit
  voluptatibus autem. Eum, hic laudantium beatae illum, delectus sint iste
  tenetur repellendus enim accusantium rem repudiandae nobis facere commodi."
  ></include>
</aside>
