<div class="square"></div>
<aside class="stren_box">
  <div class="str-box">
    <h2 class="stren_h2">Fortalezas</h2>
    <p class="stren_text">
      "Somos un equipo unido. Nos basamos en el apoyo constante entre nosotras.
      Cuando una flojea, la siguiente colabora para levantarnos juntas. Nos
      gusta tomarnos las cosas con humor y tenemos una paciencia inagotable."
    </p>
  </div>
  <div class="str-box">
    <h2 class="stren_h2">Debilidades</h2>
    <p class="stren_text final_text">
      "Nuestra mayor debilidad es la obstinación. Nos cuesta dar el paso de
      asumir que estamos cometiendo un error. Sin embargo, somos capaces de
      lidiar con ello para trabajar con compañerismo y cohesión."
    </p>
  </div>
</aside>
