<div class="cuadrado"></div>
        <aside class="strength_box">
          <h2 class="h2">Fortalezas</h2>
          <p class="team-text-1">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
            sapiente sit voluptatibus autem. Eum, hic laudantium beatae illum,
            delectus sint iste tenetur repellendus enim accusantium rem
            repudiandae nobis facere commodi.
          </p>
          <h2 class="h2">Debilidades</h2>
          <p class="team-text-1">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi fuga
            animi repellat voluptates quis doloremque aliquid! Cupiditate
            dolores praesentium mollitia quam natus dolorem exercitationem earum
            facilis quis. Nisi, quasi voluptate.
          </p>
        </aside>