<div class="square"></div>
<aside class="stren_box">
  <div class="str-box">
    <h2 class="stren_h2">Fortalezas</h2>
    <p class="stren_text">
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi fuga
      animi repellat voluptates quis doloremque aliquid! Cupiditate dolores
      praesentium mollitia quam natus dolorem exercitationem earum facilis quis.
      Nisi, quasi voluptate."
    </p>
  </div>
  <div class="str-box">
    <h2 class="stren_h2">Debilidades</h2>
    <p class="stren_text">
      "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quasi fuga
      animi repellat voluptates quis doloremque aliquid! Cupiditate dolores
      praesentium mollitia quam natus dolorem exercitationem earum facilis quis.
      Nisi, quasi voluptate."
    </p>
  </div>
</aside>
