<section class="team">
  <div class="team_box">
    <h2 class="team_title">Equipo</h2>
    <p class="team_text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui vero commodi
      dicta nobis eius ipsa, voluptate ullam repellat iure soluta necessitatibus
      error dolorem atque corporis nam provident, placeat ad sint.
    </p>
    <p class="team_text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aut
      perferendis voluptas dolores labore aspernatur illum eveniet, laudantium
      odit explicabo cumque dolorum similique excepturi debitis aperiam aliquid
      veniam inventore non.
    </p>
  </div>
  <include src="../partials/stren.html"></include>
</section>
