<section class="team">
  <div class="team_box">
    <h2 class="team_title">Equipo</h2>
    <p class="team_text">
      Este es un equipo formado por cinco chicas de distintos lugares que un día soñaron con volar juntas a Buenos
      Aires. El destino fue elegido por unanimidad; desde entonces no han vuelto a ponerse de acuerdo en nada.
    </p>
    <p class="team_text">
      A pesar de las adversidades, han conseguido su primera meta: crear juntas su página web. En ella, podréis
      conocerlas un poco mejor, saber de dónde vienen, cómo son y cómo han trabajado juntas. En lo bueno y en lo malo,
      en la salud y en la enfermedad, en la pobreza y en la pobreza. Hasta que Adalab las separe y las ponga en otro
      grupo.
    </p>
  </div>
  <include src="../partials/stren.html"></include>
</section>