<section class="quienes">
    <h1>Quiénes somos</h1>
    <article class="article">
      <div class="pic">
        <img src="./img/pexels-alina-autumn-11779515.jpg" alt="Arantza" />
      </div>
      <div class="articleInfo">
        <h2>Arantza Gómez</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
          nesciunt expedita rerum optio error quis dignissimos, accusantium
          earum repudiandae voluptatibus aliquid fuga sit voluptatum facere.
          Hic ea possimus in!
        </p>
        <footer class="articleFooter">
          <ul class="rrss">
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-x-twitter fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-linkedin-in fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-github-alt fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-solid fa-envelope fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </article>
    <article class="article">
      <div class="pic">
        <img src="./img/pexels-alina-autumn-11779515.jpg" alt="Tania" />
      </div>
      <div class="articleInfo">
        <h2>Tania Moreno</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
          nesciunt expedita rerum optio error quis dignissimos, accusantium
          earum repudiandae voluptatibus aliquid fuga sit voluptatum facere.
          Hic ea possimus in!
        </p>
        <footer class="articleFooter">
          <ul class="rrss">
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-x-twitter fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-linkedin-in fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-github-alt fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-solid fa-envelope fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </article>
    <article class="article">
      <div class="pic">
        <img src="./img/pexels-alina-autumn-11779515.jpg" alt="Carmen" />
      </div>
      <div class="articleInfo">
        <h2>Carmen Bravo</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
          nesciunt expedita rerum optio error quis dignissimos, accusantium
          earum repudiandae voluptatibus aliquid fuga sit voluptatum facere.
          Hic ea possimus in!
        </p>
        <footer class="articleFooter">
          <ul class="rrss">
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-x-twitter fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-linkedin-in fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-github-alt fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-solid fa-envelope fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </article>
    <article class="article">
      <div class="pic">
        <img src="./img/pexels-alina-autumn-11779515.jpg" alt="Raquel" />
      </div>
      <div class="articleInfo">
        <h2>Raquel Ortiz Muñoz</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
          nesciunt expedita rerum optio error quis dignissimos, accusantium
          earum repudiandae voluptatibus aliquid fuga sit voluptatum facere.
          Hic ea possimus in!
        </p>
        <footer class="articleFooter">
          <ul class="rrss">
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-x-twitter fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-linkedin-in fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-github-alt fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-solid fa-envelope fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </article>
    <article class="article">
      <div class="pic">
        <img src="./img/pexels-alina-autumn-11779515.jpg" alt="Laura" />
      </div>
      <div class="articleInfo">
        <h2>Laura Luraschi</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
          nesciunt expedita rerum optio error quis dignissimos, accusantium
          earum repudiandae voluptatibus aliquid fuga sit voluptatum facere.
          Hic ea possimus in!
        </p>
        <footer class="articleFooter">
          <ul class="rrss">
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-x-twitter fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-linkedin-in fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-brands fa-github-alt fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i
                  class="fa-solid fa-envelope fa-2xl"
                  style="color: #099d8d;"
                ></i>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </article>
  </section>