<section class="who" id="who">
  <h1>Quiénes somos</h1>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/arantza.jpg" alt="Arantza" />
    </div>
    <div class="who_article-info">
      <h2>Arantza</h2>
      <p>
        Nacida en Madrid, pero criada en un pequeño pueblo de la provincia de
        Toledo. Manchega de corazón. Filóloga hispánica por vocación, correctora
        profesional y futura desarrolladora web; le encantaría encarnar la
        fusión y lograr la concordia entre ciencias y letras.
      </p>
      <footer>
        <ul class="rrss">
          <li>
            <a href="#">
              <i class="fa fa-brands fa-x-twitter fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-github-alt fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-solid fa-envelope fa-2xl"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/Tania Moreno.jpg" alt="Tania" />
    </div>
    <div class="who_article-info">
      <h2>Tania</h2>
      <p>
        Barcelonesa de nacimiento y alicantina de adopción desde hace 3 años. Administrativa contable de profesión y
        cocinillas en sus ratos libres. A sus 32, se embarca en la nueva aventura como estudiante de programación.
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
          <li>
            <a href="#">
              <i class="fa fa-brands fa-x-twitter fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-github-alt fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-solid fa-envelope fa-2xl"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/Carmen Bravo.jpg" alt="Carmen" />
    </div>
    <div class="who_article-info">
      <h2>Carmen</h2>
      <p>
        En una pequeña ciudad del Pirineo nació hace 28 años. Ni la nieve ni el frio de Jaca la frenaron para irse a capital a cumplir uno de sus sueños: ser videógrafa. Ahora se enfrenta a nuevos retos y a un nuevo sueño, el de convertirse en programadora y quién sabe si en el futuro pueda trabajar desde su tierra junto al Yeti.
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
          <li>
            <a href="#">
              <i class="fa fa-brands fa-x-twitter fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-github-alt fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-solid fa-envelope fa-2xl"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/Raquel.jpg" alt="Raquel" />
    </div>
    <div class="who_article-info">
      <h2>Rachel</h2>
      <p>
        A sus 44 castizas primaveras, cada vez le tiene menos miedo a lo
        desconocido y más morro le echa a la vida. ¿Quién dijo que era tarde
        para estudiar? Trabajadora y testaruda a partes iguales, cree que vivir
        de lo que se ha estudiado es posible, eso ha oído.
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
          <li>
            <a href="#">
              <i class="fa fa-brands fa-x-twitter fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-github-alt fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-solid fa-envelope fa-2xl"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/laura-abasto.jpg" alt="Laura" />
    </div>
    <div class="who_article-info">
      <h2>Laura</h2>
      <p>
        Nació en Buenos Aires, pero lleva media vida en Cádiz. Después de años de venta ambulante, quiere que el
        ganchillo vuelva a ser su pasatiempos. Donde haya un patrón que observar, descubrir o crear, está en su medio: la música, la naturaleza, los idiomas, el tejido y ahora, el código.
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
          <li>
            <a href="#">
              <i class="fa fa-brands fa-x-twitter fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-linkedin-in fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-brands fa-github-alt fa-2xl"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-solid fa-envelope fa-2xl"></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
</section>