<section class="who" id="who">
  <h1>Quiénes somos</h1>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/arantza.jpg" alt="Arantza" />
    </div>
    <div class="who_article-info">
      <h2>Arantza Gómez</h2>
      <p>
        Nacida en Madrid, pero criada en un pequeño pueblo de la provincia de
        Toledo. Manchega de corazón. Filóloga hispánica por vocación, correctora
        profesional y futura desarrolladora web; le encantaría encarnar la
        fusión y lograr la concordia entre ciencias y letras.
      </p>
      <footer>
        <ul class="rrss">
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-x-twitter fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-linkedin-in fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-github-alt fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-solid fa-envelope fa-2xl"
                
              ></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/Tania Moreno.jpg" alt="Tania" />
    </div>
    <div class="who_article-info">
      <h2>Tania Moreno</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
        nesciunt expedita rerum optio error quis dignissimos, accusantium earum
        repudiandae voluptatibus aliquid fuga sit voluptatum facere. Hic ea
        possimus in!
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
<li>
            <a href="#">
              <i
                class="fa fa-brands fa-x-twitter fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-linkedin-in fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-github-alt fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-solid fa-envelope fa-2xl"
                
              ></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/Carmen Bravo.jpg" alt="Carmen" />
    </div>
    <div class="who_article-info">
      <h2>Carmen Bravo</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
        nesciunt expedita rerum optio error quis dignissimos, accusantium earum
        repudiandae voluptatibus aliquid fuga sit voluptatum facere. Hic ea
        possimus in!
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
<li>
            <a href="#">
              <i
                class="fa fa-brands fa-x-twitter fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-linkedin-in fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-github-alt fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-solid fa-envelope fa-2xl"
                
              ></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/Raquel.jpg" alt="Raquel" />
    </div>
    <div class="who_article-info">
      <h2>Raquel Ortiz Muñoz</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
        nesciunt expedita rerum optio error quis dignissimos, accusantium earum
        repudiandae voluptatibus aliquid fuga sit voluptatum facere. Hic ea
        possimus in!
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
<li>
            <a href="#">
              <i
                class="fa fa-brands fa-x-twitter fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-linkedin-in fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-github-alt fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-solid fa-envelope fa-2xl"
                
              ></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
  <article class="who_article">
    <div class="who_article-pic">
      <img src="./assets/images/laura-abasto.jpg" alt="Laura" />
    </div>
    <div class="who_article-info">
      <h2>Laura Luraschi</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quod
        nesciunt expedita rerum optio error quis dignissimos, accusantium earum
        repudiandae voluptatibus aliquid fuga sit voluptatum facere. Hic ea
        possimus in!
      </p>
      <footer class="who_article-foot">
        <ul class="rrss">
<li>
            <a href="#">
              <i
                class="fa fa-brands fa-x-twitter fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-linkedin-in fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-brands fa-github-alt fa-2xl"
                
              ></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i
                class="fa fa-solid fa-envelope fa-2xl"
                
              ></i>
            </a>
          </li>
        </ul>
      </footer>
    </div>
  </article>
</section>
