.footer {
  margin: 15px;
  font-size: 1.4rem;
  font-family: $font-family;
    border: solid 1px $cool-grey;
    text-align: center;
}

.ul {
  list-style-type: none;
  padding: 0%;
}
/*.list_footer {
  display: inline;
  text-align: center;
}*/
.list_footer{
  width: 114px;
  height: 60px;
  margin: 20px 29px 30px;
  opacity: 0.75;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $gunmetal;
  @media (min-width: 768px){
  width: 324px;
  height: 90px;
  margin: 0 0 0 428px;
  opacity: 0.75;
  font-family: $font-family;
  line-height: 2.14;
  text-align: right;
  
  }
}
.logo_footer {
  width: 115.9px;
  height: 45px;
  margin: 30px 28.1px 0 28px;
  @media (min-width: 768px) {
    display: flex;
    justify-content: left;
    }
     
}
.footer_copy {
  color: $cool-grey;
  @media (min-width: 768px) {
    display: flex;
    justify-content: left;
    }
}

