.header {
  z-index: 100;
  position: sticky;
  top:0;
  left: 0;
  
  &__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100vw;

  background-size: cover;
  opacity: 0.8;
   
  
      @media (min-width: 768px){
        flex-direction: row;
      }

    &--h1 {
    
    font-family: "rubik", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    width: 100%;
    max-width: 100%;
    opacity: 0.9;
    background-color: $blue-green;
    color: $white;
    
  
  
      @media (min-width: 768px) {
       display: flex;
       justify-content: space-between;
       max-width: 100%;
       padding: 0 15px;
      }
      @media (min-width: 1200px) {
        justify-content: space-around;
      }
    }
  }  
  
  .header__nav {
  text-transform: uppercase;
  height: 6vh;
  background-color: $aqua;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
    
    @media (min-width: 768px){
      display: none;
    }

        &--tablet {
        display: none;
         @media (min-width: 768px){
          display: block;
          text-transform: uppercase;
        }
        }
        &--list {
          padding: 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          list-style: none;
          text-align: center;
          gap: 15px;
        
        }
        &--list li {
          font-family: "rubik";
          font-size: 1.2rem;
          letter-spacing: normal;
        }
    }

  
}




.links {
  text-decoration: none;
  color: $white;
}


  
