.square {
  width: 30px;
  height: 30px;
  background-color: $white;
  transform: rotate(45deg);
  z-index: 1;
  position: relative;
  bottom: -15px;
}

.stren_box {
    background-color: rgba(184, 184, 185, 0.2);
    z-index: -1;
    padding: 40px;
    line-height: 25px;
  }

  .stren_h2 {
    font-family: rubik;
    font-size: 2rem;
    color: $blue-green;
    letter-spacing: 0.4px;
    text-align: center;
    margin: 15px 0;
  }
  .team-text-1 {
    padding-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: var(--gunmetal);
    font-size: 1.5rem;
    display: flex;
    width: 100%;
    text-align: center;
  }

  
