.square {

  width: 30px;
  height: 30px;
  background-color: $gunmetal;
  transform: rotate(45deg);

  position: relative;

}

.stren_box {
  background-color: #b8b8b925;
  position: absolute;
  padding: 20px;

  @media (min-width: 768px) {
    display: flex;
  }
}

.str-box {
  @media (min-width: 768px) {
    padding: 0 20px;
  }
}

.stren_h2 {
  font-family: rubik;
  font-size: 2.2rem;
  color: $blue-green;
  letter-spacing: 0.4px;
  text-align: center;
  margin: 15px 0;
}

.team_text {
  padding-bottom: 10px;
  font-family: $font-family;
  color: $gunmetal;
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  text-align: center;
}
