.square {
  width: 30px;
  height: 30px;
  background-color: $white;
  position: relative;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
}

.stren_box {
  background-color: $back-grey;

  @media (min-width: 768px) {
    display: flex;
  }
}

.str-box {
  padding: 2.5rem 3rem 1rem 3rem;

  @media (min-width: 768px) {
    margin: 1.5rem;
  }

  @media (min-width: 1200px) {
    margin: 2rem 8rem;
  }
}

.stren_h2 {
  font-family: "rubik", sans-serif;
  font-size: 2.2rem;
  color: $blue-green;
  letter-spacing: 0.5px;
  text-align: center;
  margin: 1.5rem;
}

.stren_text {
  font-family: $font-family;
  color: $gunmetal;
  font-size: 1.6rem;
  line-height: 1.5;
  width: 100%;
  text-align: center;
}

.final_text {
  margin-bottom: 4rem;
}
