.who,
.who_article,
.who_article-info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.who {
  & h1 {
    margin: 3rem 0 1.5rem;
    text-transform: uppercase;
    font-family: Rubik;
    font-size: 2.5rem;
    font-weight: 500;
    color: $blue-green;
    @media screen and (min-width: 768px) {
      margin: 4.5rem 0 1rem;
    }
  }
  &_article {
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      margin: 3rem 0 3rem;
      gap: 2rem;
      &:nth-child(2n + 1) {
        flex-direction: row-reverse;
      }
    }
    &-pic {
      min-height: 18rem;
      min-width: 18rem;
      height: 18rem;
      width: 18rem;
      border-radius: 0.4rem;
      border: 0.5rem solid $black-8;
      @media screen and (min-width: 768px) {
        min-height: 20rem;
        min-width: 20rem;
        height: 20rem;
        width: 20rem;
      }
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &-info {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      @media screen and (min-width: 768px) {
        align-items: flex-start;
      }
      & h2 {
        font-size: 2rem;
        font-weight: 400;
        margin: 1rem;
      }
      & p {
        margin-top: 0;
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;
        color: $gunmetal;

        @media screen and (min-width: 768px) {
          text-align: left;
          padding: 1rem;
          margin-bottom: 1.5rem;
        }
      }
      & footer {
        .rrss {
          display: flex;
          gap: 1.5rem;
          padding: 0;
          margin: 0;
          & li {
            padding: 1rem;
          }
          & :first-child {
            list-style: none;
          }
        }
      }
    }
  }
}

// .article:nth-child(2n + 1) .articleInfo {
//   align-items: flex-end;
// }
// .article:nth-child(2n + 1) .articleInfo p {
//   text-align: right;
// }

@media screen and (min-width: 1200px) {
  .pic {
    min-height: 28rem;
    min-width: 28rem;
    height: 28rem;
    width: 28rem;
  }
  .article {
    margin: 3rem 13.8rem;
    gap: 3.5rem;
  }
}
